<!-- Floating Contact Sidebar -->
<div class="floating-sidebar">
    <div class="floating-sidebar-bg"></div>
    <div class="floating-buttons">
        <!-- Call Button -->
        <a href="tel:0975258999" class="floating-btn call-btn" title="Gọi điện">
            <i class="ri-phone-line"></i>
        </a>

        <!-- Facebook Button -->
        <a href="https://www.facebook.com/xaydungtruongsinh" target="_blank" class="floating-btn facebook-btn"
            title="Facebook">
            <i class="ri-facebook-line"></i>
        </a>

        <!-- Messenger Button -->
        <a href="https://m.me/xaydungtruongsinh" target="_blank" class="floating-btn messenger-btn" title="Messenger">
            <i class="ri-messenger-line"></i>
        </a>

        <!-- Zalo Button -->
        <a href="https://zalo.me/0975258999" target="_blank" class="floating-btn zalo-btn" title="Zalo">
            <img src="../public/images/zalo.png" alt="Zalo" class="zalo-icon">
        </a>
    </div>
</div>