<!-- Header Component -->
<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a href="../index.html">
          <img
            src="../public/images/logo.png"
            alt="Logo Công ty Trường Sinh"
            class="logo-img"
          />
        </a>
      </div>
      <!-- Navigation -->
      <div class="name-company">
        <h3>Công ty TNHH tư vấn xây dựng và thương mại Trường Sinh</h3>
        <h2>Xây dựng từ tâm - Nâng tầm đẳng cấp</h2>
      </div>

      <!-- Hotline Button -->
      <div class="hotline-section">
        <button class="hotline-btn">
          <i class="ri-phone-line phone-icon"></i>
          <span>HOTLINE: 0975.258.999</span>
        </button>
      </div>
    </div>
  </div>
</header>
