@media (max-width: 768px) {
    .main-content {
        padding: 70px 0 30px 0;
    }

    .company-overview-section {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .company-text-content {
        order: 2;
    }

    .company-images-section {
        order: 1;
    }

    .section-title {
        font-size: 1.4rem;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 15px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .section-content p {
        font-size: 0.9rem;
        letter-spacing: 0;
        margin-bottom: 15px;
    }

    .company-intro-list li,
    .mission-list li,
    .vision-list li,
    .philosophy-list li {
        font-size: 0.9rem;
        line-height: 1.8;
    }

    .company-images-section {
        height: 470px;
        margin-bottom: 40px;
    }

    .image-grid {
        gap: 15px;
        max-height: 500px;
    }

    .image-column-left {
        margin-top: 20px;
    }

    .image-column {
        gap: 15px;
    }

    .image-item {
        aspect-ratio: 4/5;
        transform: translateY(30px);
        /* Giảm khoảng cách di chuyển trên mobile */
    }

    .image-item.fade-in-visible {
        transform: translateY(0);
    }

    .about-content-box {
        margin-bottom: 30px;
    }

    .company-text-content {
        padding-right: 0;
    }

    .company-intro-section,
    .mission-section {
        margin-bottom: 25px;
    }

    .company-intro-section:last-child,
    .mission-section:last-child {
        margin-bottom: 15px;
    }

    .vision-section,
    .philosophy-section {
        padding: 0;
        margin-bottom: 50px;
    }

    .company-intro-list,
    .mission-list,
    .vision-list {
        margin: 10px 0;
    }

    .awards-grid {
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .award-item {
        width: 100px;
        height: 100px;
        padding: 0px;
    }

    .contact-form .container {
        padding: 0px;
        height: auto;
        min-height: 500px;
    }

    .contact-form-container {
        padding: 10px;
        height: auto;
    }

    .contact-form {
        padding: 50px 0 30px 0;
    }


    .contact-content {
        height: auto;
        min-height: 500px;
    }

    .contact-visual {
        display: none;
    }

    .form-title {
        font-size: 1.4rem;
    }

    .form-wrapper {
        padding: 10px;
    }

    .form-group input,
    .form-group textarea {
        padding: 10px 15px;
        font-size: 0.8rem;
    }

    .btn-submit {
        padding: 10px 15px;
        font-size: 0.8rem;
    }
}